<div class="row">
    <ul class="col-6 list-group">
        <li class="list-group-item">
            <b>Login:</b> <%= user.login %>
        </li>
        <li class="list-group-item">
            <b>First name:</b> <%= user.firstName %>
        </li>
        <li class="list-group-item">
            <b>Second name:</b> <%= user.secondName %>
        </li>
        <li class="list-group-item">
            <b>Role:</b> <%= user.userGroupCode === '1' ? 'Admin' : 'User' %>
        </li>
    </ul>
</div>