<%
  const { isAdmin, viewsCounter } = locals;
%>

<div class="main-page">
    <%- include('../../components/book-card/index', {
        book,
        isAdmin,
        isSingle: true,
        viewsCounter,
    }); -%>
</div>