<%
  const { isAdmin, viewsCounter, user } = locals;
%>

<div class="book-page">
    <%- include('../../components/book-card/index', {
        book,
        isAdmin,
        isSingle: true,
        viewsCounter,
    }); -%>
    
    <%- include('../../components/book-comments/index', {
        isAdmin,
        user,
    }); -%>
</div>