.main-page {
    padding-bottom: 80px;
    padding-top: 50px;
}

.main-page__actions {
    padding-top: 85px;
    padding-bottom: 50px;
}

.book-card--single {
    display: flex;
}

.book-card--single .book-card__content {
    padding-left: 50px;
    padding-right: 50px;
}

.book-card__title {
    padding-bottom: 10px;
    padding-top: 15px;
}

.book-card__cover {
    background-size: cover;
    background-position: center;
    height: 500px;
    max-width: 350px;
    width: 100%;
}

.book-card__btn {
    margin-right: 15px;
}

.book-card__actions {
    display: flex;
}

.book-form__actions {
    padding-top: 50px;
    padding-bottom: 30px;
}

.logo {
    padding-bottom: 20px;
    padding-top: 10px;
}

.logo__link {
    color: black;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.logo__link:hover {
    color: black;
}

.login__anchor {
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.send-form-btn {
    margin-bottom: 10px;
    margin-top: 15px;
}