<%- include('../head/index', { title }); -%>

<div class="container">
    <div class="row">
        <a class="logo logo__link" href="/">Books shop</a>
    </div>
</div>

<div class="container">
    <%- content -%>
</div>

<%- include('../foot/index'); -%>
