<div class="main-page">
    <%- include('../../../components/books-list/index', { books, fluid: false }); -%>
    <div class="row">
        <div class="col main-page__actions">
            <a  
                class="btn btn-primary btn-lg"
                href="/book/create"
            >
                Add new book
            </a>
        </div>
    </div>
</div>